<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307722033093-vttd70niqig0ci2uptngqqb4c2s43mnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307722033093-vttd70niqig0ci2uptngqqb4c2s43mnr</string>
	<key>API_KEY</key>
	<string>AIzaSyBbXtQQNSf4VPiWE2re7b-gh4z38az26X0</string>
	<key>GCM_SENDER_ID</key>
	<string>307722033093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaquinmorales.authentication</string>
	<key>PROJECT_ID</key>
	<string>swiftauthenticationtest-57637</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftauthenticationtest-57637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307722033093:ios:3fbc969ab5b5ecf5d3ddac</string>
</dict>
</plist>